# Configuración de Base de Datos Neon
NEON_DB_HOST=ep-fragrant-dew-anpj34eu-pooler.c-6.us-east-1.aws.neon.tech
NEON_DB_PORT=5432
NEON_DB_NAME=neondb
NEON_DB_USER=neondb_owner
NEON_DB_PASSWORD=npg_GTgrS3XtIk5J
NEON_DATABASE_URL=postgresql://neondb_owner:npg_GTgrS3XtIk5J@ep-fragrant-dew-anpj34eu-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Configuración de Gmail para Recuperación de Contraseña
GMAIL_USER=construtrans588@gmail.com
GMAIL_APP_PASSWORD=gtdquhxowjslishw
GMAIL_SMTP_HOST=smtp.gmail.com
GMAIL_SMTP_PORT=587
GMAIL_FROM_NAME=ConstruTrans